* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #07081A;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 28px;

}

.headerdiv {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    max-width: 1040px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    gap: 16px;
}

.home {
    color: #8CE900;
}

main {
    display: flex;
    justify-content: center;
}

.maindiv {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    color: white;
    max-width: 1040px;
    width: 100%;
}

.bestP {
    display: flex;
    max-width: 583px;
    width: 100%;
    align-items: center;
    font-size: 48px;
}

.horseimg {
    width: 314px;
}

.projectdiv {
    display: flex;
    justify-content: space-around;
    max-width: 1040px;
    width: 100%;
    background-color: #242642;
    margin-top: 64px;
    padding: 40px 72px;
}

.projectp {
    width: 168px;
    padding-top: 10px;
    color: #C0C0C0;
    font-size: 20px;
}

.secondprojectp {
    width: 168px;
    padding-top: 10px;
    color: #C0C0C0;
    font-size: 20px;
}

.secondicon {
    
}